* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: "Medium";
	/* overflow: hidden; */
}

img {
	max-width: 100%;
	height: auto;
}

.header_general h3 {
	font-family: "Black";
	color: #4f5256;
	font-size: 2.5rem;
	margin-top: 120px;
}

.header_general h3 + p {
	font-size: 1.625rem;
	color: #9f9d9d;
	font-family: "Medium";
	padding: 15px 0 50px 0;
}

.wrapper {
	max-width: 1350px;
	margin: 0 auto;
	/* transition: 1s; */
}



/* .content_wrapper {
	padding: 0 20px;
} */

@media screen and (max-width: 1250px) {
	html {
		font-size: 15px;
	}
}

@media screen and (max-width: 500px) {
	html {
		font-size: 14px;
	}
}

/* .wrapper-active {
  transform: translateX(-30%);
  transition: 1s;
 
} */

@media screen and (max-width: 1310px) {
	.wrapper {
		padding: 0 20px;
	}
}

@media screen and (max-width: 1000px) {
	html {
		font-size: 15px;
	}
}

@font-face {
	font-family: "Medium";
	src: url("fonts/Akrobat.eot");
	src: local("☺"), url("../fonts/Akrobat.woff") format("woff"),
		url("../fonts/Akrobat.ttf") format("truetype"),
		url("../fonts/Akrobat.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Bold";
	src: url("fonts/Akrobat_Bold.eot");
	src: local("☺"), url("../fonts/Akrobat_Bold.woff") format("woff"),
		url("../fonts/Akrobat_Bold.ttf") format("truetype"),
		url("../fonts/Akrobat_Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Light";
	src: url("fonts/Akrobat_Light.eot");
	src: local("☺"), url("../fonts/Akrobat_Light.woff") format("woff"),
		url("../fonts/Akrobat_Light.ttf") format("truetype"),
		url("../fonts/Akrobat_Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Extra-Bold";
	src: url("fonts/Akrobat_Extra_Bold.eot");
	src: local("☺"), url("../fonts/Akrobat_Extra_Bold.woff") format("woff"),
		url("../fonts/Akrobat_Extra_Bold.ttf") format("truetype"),
		url("../fonts/Akrobat_Extra_Bold.svg") format("svg");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Semi-Bold";
	src: url("fonts/Akrobat_Semi_Bold.eot");
	src: local("☺"), url("../fonts/Akrobat_Semi_Bold.woff") format("woff"),
		url("../fonts/Akrobat_Semi_Bold.ttf") format("truetype"),
		url("../fonts/Akrobat_Semi_Bold.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Black";
	src: url("fonts/Akrobat_Black.eot");
	src: local("☺"), url("../fonts/Akrobat_Black.woff") format("woff"),
		url("../fonts/Akrobat_Black.ttf") format("truetype"),
		url("../fonts/Akrobat_Black.svg") format("svg");
	font-weight: 900;
	font-style: normal;
}