@import "options.css";
@import "normalize.css";
strong {
  font-weight: normal;
}
header {
  background-image: url("../img/header-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  padding-bottom: 120px;
}
header .wrapper_nav {
  display: flex;
}
header .wrapper_nav .logo {
  display: flex;
  color: white;
  font-family: "Medium";
  font-size: 3.75rem;
  padding: 15px 0;
}
header .wrapper_nav .logo > P {
  margin-right: 15px;
}
header .wrapper_nav .logo_text {
  font-size: 1.1875rem;
  border-left: 1px solid white;
  padding-left: 15px;
}
header .wrapper_nav .logo_text > p {
  margin-top: 2px;
}
header .wrapper_nav .logo_text > p:nth-child(1) {
  margin-top: 0;
}
header .wrapper_nav nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 0 0 auto;
}
header .wrapper_nav nav a {
  text-decoration: none;
  font-size: 1.1875rem;
  color: white;
  font-family: "Medium";
  margin-left: 120px;
  width: 70px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
header .wrapper_nav nav a:nth-child(1) {
  width: 50px;
}
header .wrapper_nav nav a:nth-child(3) {
  width: 40px;
}
header .wrapper_nav nav a:nth-child(4) {
  width: 60px;
}
header .wrapper_nav nav a:hover {
  font-family: "Bold";
  border-bottom: 2px solid white;
  transition: 0.4s;
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav nav a {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav nav {
    z-index: 1;
    position: fixed;
    background-color: lightblue;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 30%;
    transition: 1s;
    transform: translateX(333%);
  }
  header .wrapper_nav nav.nav-active {
    transform: translateX(235%);
    transition: 1s;
  }
}
header .wrapper_nav .burger {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  margin: 0 0 0 auto;
  position: fixed;
  z-index: 2;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav .burger {
    display: flex;
  }
}
header .wrapper_nav .burger span {
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: white;
}
header .wrapper_nav .burger span::before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 7px;
  width: 25px;
  height: 2px;
  transition: 0.3s;
}
header .wrapper_nav .burger span::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: -7px;
  width: 25px;
  height: 2px;
  transition: 0.3s;
}
header .wrapper_nav .burger span.span-active {
  height: 0;
}
header .wrapper_nav .burger span.span-active::before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  width: 25px;
  height: 2px;
  transform: rotate(-45deg);
  transition: 0.3s;
}
header .wrapper_nav .burger span.span-active::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  width: 25px;
  height: 2px;
  transform: rotate(45deg);
  transition: 0.3s;
}
header .wrapper_header .multy_language {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}
header .wrapper_header .multy_language .container {
  font-size: 1.1875rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 29px;
  border-radius: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  overflow: hidden;
  cursor: pointer;
}
header .wrapper_header .multy_language .container span {
  line-height: 25px;
}
header .wrapper_header .multy_language .container .ru {
  text-align: center;
  width: 50px;
}
header .wrapper_header .multy_language .container .ru.active {
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: 0.6s;
}
header .wrapper_header .multy_language .container .kz {
  text-align: center;
  width: 50px;
}
header .wrapper_header .multy_language .container .kz.active {
  background-color: white;
  color: black;
  border-radius: 20px;
  transition: 0.6s;
}
header .wrapper_header h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Bold";
}
header .wrapper_header .header_content {
  display: flex;
  margin-top: 30px;
}
header .wrapper_header .header_content-text {
  max-width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
header .wrapper_header .header_content-text h1 {
  font-size: 2.125rem;
  font-family: "Extra-Bold";
  margin: 0;
  padding-bottom: 30px;
}
header .wrapper_header .header_content-text p {
  font-family: "Semi-Bold";
  color: #2d2f30;
  font-size: 1.875rem;
}
header .wrapper_header .header_content-text p:nth-of-type(2) {
  font-family: "Light";
  color: #838282;
  font-size: 1.375rem;
  padding-top: 15px;
  padding-right: 35%;
}
header .wrapper_header .header_content-text p:nth-of-type(3) {
  font-size: 1.5625rem;
  color: #2d2f30;
  font-family: "Medium";
  padding-bottom: 30px;
}
header .wrapper_header .header_content-text p:nth-of-type(3) strong {
  font-size: 1.5625rem;
  color: #2d2f30;
  font-family: "Medium";
}
header .wrapper_header .header_content-text hr {
  background-color: #0096ff;
  height: 3px;
  border: none;
  margin: 30px 0;
}
header .wrapper_header .header_content-text .list span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #0096ff;
  display: block;
  margin-right: 30px;
}
header .wrapper_header .header_content-text .list p {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Light";
  color: #2d2f30;
  padding: 15px 0 0 0;
}
header .wrapper_header .header_content-text .list p:nth-child(1) {
  padding-top: 0;
}
header .wrapper_header .header_content-logo {
  display: flex;
  justify-content: center;
}
header .wrapper_header .header_content-logo .logo_container {
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
}
header .wrapper_header .header_content-logo .logo_container p {
  font-family: "Bold";
  color: white;
  font-size: 1.5625rem;
  text-align: center;
  padding-top: 30px;
}
main {
  padding-top: 50px;
}
main .wrapper .services h3 {
  font-family: "Black";
  color: #4f5256;
  font-size: 2.5rem;
}
main .wrapper .services h3 + p {
  font-size: 1.625rem;
  color: #9f9d9d;
  font-family: "Medium";
  padding: 15px 0 50px 0;
}
main .wrapper .services_container {
  display: flex;
  justify-content: space-between;
}
main .wrapper .services_container .general {
  max-width: calc(100% / 3 - 25px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
main .wrapper .services_container .general .add_content {
  border: 1px solid #dddddd;
  padding: 30px;
  border-radius: 10px;
}
main .wrapper .services_container .general .add_content .general_header p {
  font-family: "Black";
  color: #9f9e9e;
  font-size: 1rem;
}
main .wrapper .services_container .general .add_content .general_header p:nth-child(1) {
  color: #0096ff;
  font-size: 1.4375rem;
  padding-bottom: 15px;
}
main .wrapper .services_container .general .add_content .general_header-services p {
  font-family: "Bold";
  font-size: 1.125rem;
  color: black;
  padding: 30px 0;
}
main .wrapper .services_container .general .add_content .general_header-services p.arrow {
  position: relative;
}
main .wrapper .services_container .general .add_content .general_header-services p.arrow::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5%;
  left: -20%;
  width: 140%;
  height: 1px;
  background-color: #d3d3d3;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list p {
  position: relative;
  display: flex;
  align-items: center;
  padding: 15px 0 15px 30px;
  font-family: "Semi-Bold";
  color: #3a3b3d;
  font-size: 1rem;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list p::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 3.5px);
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #0096ff;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list hr {
  height: 1px;
  border: none;
  background-color: #dddddd;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services {
  display: flex;
  justify-content: space-between;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection p,
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email p {
  padding: 0 ;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection p:nth-child(1),
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email p:nth-child(1) {
  padding-top: 30px;
  padding-bottom: 5px;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection p + p,
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email p + p {
  font-size: 1.1875rem;
  font-family: 'Medium';
}
main .wrapper .services_container .general .add_content.suggest .general_header p {
  color: black;
  font-size: 1.875rem;
  line-height: 0.8;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services > p {
  padding-bottom: 0;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services > p + p {
  padding-top: 15px;
  font-family: 'Semi-Bold';
  font-size: 1rem;
  color: #9f9e9e;
}
main .wrapper .services_container .general .add_content.suggest .services-list {
  position: relative;
  padding-left: 15px;
}
main .wrapper .services_container .general .add_content.suggest .services-list p {
  padding-top: 30px;
}
main .wrapper .services_container .general .add_content.suggest .services-list p::before {
  background-color: red;
  border-radius: 0;
  top: calc(50% + 3px);
}
main .wrapper .services_container .general .add_content.suggest .services-list::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3%;
  left: -20%;
  width: 140%;
  height: 1px;
  background-color: #d3d3d3;
}
main .wrapper .services_container .general .add_content.suggest .services-list.third::after {
  display: none;
}
main .wrapper .services_container .general .image {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .wrapper .services_container .general .image img {
  background-color: red;
}
.contact-services_wrapper {
  margin-top: 30px;
}
