@import "options.css";
@import "normalize.css";
strong {
  font-weight: normal;
}
header {
  background-image: url("../img/header-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  padding-bottom: 120px;
}
@media screen and (max-width: 700px) {
  header {
    background-attachment: fixed;
  }
}
header .wrapper .up {
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  padding: 10px;
  color: #e45e5e;
  font-size: 40px;
  z-index: 99999;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .wrapper .up:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .wrapper_nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
@media screen and (min-width: 1101px) {
  header .wrapper_nav {
    position: fixed;
    background-color: transparent;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 999;
    border-bottom: 1px solid white;
  }
  header .wrapper_nav.scroll {
    background-color: #443d3c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    box-shadow: 0 2px 7px 2px #969696;
    border: none;
  }
}
header .wrapper_nav .logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  color: white;
  font-family: "Medium";
  font-size: 3.75rem;
  padding: 15px 0;
}
header .wrapper_nav .logo > P {
  margin-right: 15px;
}
@media screen and (max-width: 700px) {
  header .wrapper_nav .logo > P {
    font-size: 2.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
  }
}
header .wrapper_nav .logo_text {
  font-size: 1.1875rem;
  border-left: 1px solid white;
  padding-left: 15px;
}
header .wrapper_nav .logo_text > p {
  margin-top: 2px;
}
header .wrapper_nav .logo_text > p:nth-child(1) {
  margin-top: 0;
}
header .wrapper_nav nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  margin: 0 0 0 auto;
}
header .wrapper_nav nav a {
  text-decoration: none;
  font-size: 1.1875rem;
  color: white;
  font-family: "Medium";
  margin-left: 120px;
  width: 70px;
  border-bottom: 2px solid transparent;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .wrapper_nav nav a:nth-child(1) {
  width: 50px;
}
header .wrapper_nav nav a:nth-child(3) {
  width: 40px;
}
header .wrapper_nav nav a:nth-child(4) {
  width: 60px;
}
header .wrapper_nav nav a:hover {
  font-family: "Bold";
  border-bottom: 2px solid #e32f0c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav nav a {
    margin-left: 0;
  }
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav nav {
    z-index: 9998;
    position: fixed;
    background-color: #443d3c;
    border-left: 1px solid white;
    opacity: 0.9;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
    -moz-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  header .wrapper_nav nav a {
    font-size: 2rem;
    width: 110px;
    margin-left: 20px;
  }
  header .wrapper_nav nav a:nth-child(1) {
    width: 80px;
  }
  header .wrapper_nav nav a:nth-child(3) {
    width: 70px;
  }
  header .wrapper_nav nav a:nth-child(4) {
    width: 90px;
  }
  header .wrapper_nav nav.nav-active {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
}
header .wrapper_nav .burger {
  width: 40px;
  height: 40px;
  background-color: #e45e5e;
  border-radius: 50%;
  margin: 0 0 0 auto;
  position: fixed;
  z-index: 9999;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 1100px) {
  header .wrapper_nav .burger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
}
header .wrapper_nav .burger span {
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: white;
}
header .wrapper_nav .burger span::before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 7px;
  width: 22px;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper_nav .burger span::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: -7px;
  width: 22px;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper_nav .burger span.span-active {
  height: 0;
}
header .wrapper_nav .burger span.span-active::before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  width: 22px;
  height: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper_nav .burger span.span-active::after {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 0;
  width: 22px;
  height: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .wrapper_header .multy_language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
  padding-bottom: 20px;
}
header .wrapper_header .multy_language .container {
  font-size: 1.1875rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  width: 100px;
  height: 29px;
  border-radius: 20px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  overflow: hidden;
  cursor: pointer;
}
header .wrapper_header .multy_language .container span {
  line-height: 25px;
}
header .wrapper_header .multy_language .container .ru {
  text-align: center;
  width: 50px;
}
header .wrapper_header .multy_language .container .ru.active {
  background-color: white;
  color: black;
  border-radius: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .wrapper_header .multy_language .container .kz {
  text-align: center;
  width: 50px;
}
header .wrapper_header .multy_language .container .kz.active {
  background-color: white;
  color: black;
  border-radius: 20px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
header .wrapper_header h2 {
  color: white;
  font-size: 1.5rem;
  font-family: "Bold";
  padding-top: 230px;
}
@media screen and (max-width: 700px) {
  header .wrapper_header h2 {
    padding-top: 120px;
  }
}
header .wrapper_header .header_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  margin-top: 30px;
}
@media screen and (max-width: 850px) {
  header .wrapper_header .header_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
}
header .wrapper_header .header_content-text {
  max-width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}
@media screen and (max-width: 1230px) {
  header .wrapper_header .header_content-text {
    max-width: 50%;
  }
}
@media screen and (max-width: 850px) {
  header .wrapper_header .header_content-text {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1230px) {
  header .wrapper_header .header_content-text {
    max-width: 100%;
  }
}
header .wrapper_header .header_content-text h1 {
  font-size: 2.125rem;
  font-family: "Extra-Bold";
  margin: 0;
  padding-bottom: 30px;
}
header .wrapper_header .header_content-text p {
  font-family: "Semi-Bold";
  color: #2d2f30;
  font-size: 1.875rem;
}
header .wrapper_header .header_content-text p:nth-of-type(2) {
  font-family: "Light";
  color: #838282;
  font-size: 1.375rem;
  padding-top: 15px;
  padding-right: 35%;
}
@media screen and (max-width: 1100px) {
  header .wrapper_header .header_content-text p:nth-of-type(2) {
    padding-right: 0;
  }
}
header .wrapper_header .header_content-text p:nth-of-type(3) {
  font-size: 1.5625rem;
  color: #2d2f30;
  font-family: "Medium";
  padding-bottom: 30px;
}
header .wrapper_header .header_content-text p:nth-of-type(3) strong {
  font-size: 1.5625rem;
  color: #2d2f30;
  font-family: "Medium";
}
header .wrapper_header .header_content-text hr {
  background-color: #e32f0c;
  height: 3px;
  border: none;
  margin: 30px 0;
}
header .wrapper_header .header_content-text .list span {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #e32f0c;
  display: block;
  margin-right: 30px;
}
header .wrapper_header .header_content-text .list p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  font-size: 1.25rem;
  font-family: "Light";
  color: #2d2f30;
  padding: 15px 0 0 0;
}
header .wrapper_header .header_content-text .list p:nth-child(1) {
  padding-top: 0;
}
header .wrapper_header .header_content-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
@media screen and (max-width: 850px) {
  header .wrapper_header .header_content-logo {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  header .wrapper_header .header_content-logo {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  header .wrapper_header .header_content-logo {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
  }
}
header .wrapper_header .header_content-logo .logo_container {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  width: 70%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
}
header .wrapper_header .header_content-logo .logo_container p {
  font-family: "Bold";
  color: white;
  font-size: 1.5625rem;
  text-align: start;
  padding-top: 30px;
}
@media screen and (max-width: 850px) {
  header .wrapper_header .header_content-logo .logo_container {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  header .wrapper_header .header_content-logo .logo_container {
    width: 80%;
  }
}
main {
  padding-top: 50px;
  border-top: 8px solid #e32f0c;
}
main .wrapper .services_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 750px) {
  main .wrapper .services_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
}
main .wrapper .services_container .general {
  max-width: -webkit-calc(8.33333333%);
  max-width: calc(100% / 3 - 25px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
@media screen and (max-width: 1000px) {
  main .wrapper .services_container .general {
    max-width: -webkit-calc(18.33333333%);
    max-width: calc(100% / 3 - 15px);
  }
}
@media screen and (max-width: 750px) {
  main .wrapper .services_container .general {
    max-width: 100%;
    padding-top: 30px;
  }
  main .wrapper .services_container .general.forMobile {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
  }
  main .wrapper .services_container .general.forMobile > .forMobile-firstBlock {
    width: 100%;
  }
}
main .wrapper .services_container .general .add_content {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #e7e7e7;
}
@media screen and (max-width: 1000px) {
  main .wrapper .services_container .general .add_content {
    padding: 15px;
  }
}
main .wrapper .services_container .general .add_content .general_header p {
  font-family: "Black";
  color: #9f9e9e;
  font-size: 1rem;
}
main .wrapper .services_container .general .add_content .general_header p:nth-child(1) {
  color: #e32f0c;
  font-size: 1.4375rem;
  padding-bottom: 15px;
}
main .wrapper .services_container .general .add_content .general_header-services.block3 p:nth-child(2) {
  color: #9f9e9e;
  font-size: 1rem;
  font-family: 'Semi-Bold';
  padding: 5px 0 !important;
  padding-left: 30px !important;
}
@media screen and (max-width: 1000px) {
  main .wrapper .services_container .general .add_content .general_header-services.block3 p:nth-child(2) {
    padding-left: 10px !important;
  }
}
main .wrapper .services_container .general .add_content .general_header-services p {
  font-family: "Bold";
  font-size: 1.125rem;
  color: black;
  padding: 30px;
}
@media screen and (max-width: 1000px) {
  main .wrapper .services_container .general .add_content .general_header-services p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
main .wrapper .services_container .general .add_content .general_header-services p.arrow {
  border-bottom: 1px solid #d3d3d3;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list p {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  padding: 15px 0 15px 30px;
  font-family: "Semi-Bold";
  color: #3a3b3d;
  font-size: 1rem;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list p::before {
  content: "";
  display: block;
  position: absolute;
  top: -webkit-calc(46.5%);
  top: calc(50% - 3.5px);
  left: 2px;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background-color: #e32f0c;
}
main .wrapper .services_container .general .add_content .general_header-services .services-list hr {
  height: 1px;
  border: none;
  background-color: #dddddd;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection,
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection p,
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email p {
  padding: 0;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .connection .text p {
  font-family: "Medium";
  font-size: 1rem;
  color: #a0a0a0;
  padding-left: 5px;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email {
  padding-top: 10px;
}
main .wrapper .services_container .general .add_content .general_header-services.contact-services .email p:nth-child(2) {
  font-family: "Medium";
  font-size: 1rem;
  color: #a0a0a0;
  padding-top: 3px;
  padding-left: 8px;
}
main .wrapper .services_container .general .add_content.suggest .general_header p {
  color: black;
  font-size: 1.875rem;
  line-height: 0.8;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services .forBorderBottom {
  padding: 0 30px;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services .forBorderBottom > p {
  padding-bottom: 0;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services .forBorderBottom > p + p {
  padding-top: 15px;
  font-family: "Semi-Bold";
  font-size: 1rem;
  color: #9f9e9e;
}
main .wrapper .services_container .general .add_content.suggest .general_header-services.negativeMargin {
  border-bottom: 1px solid #dddddd;
}
main .wrapper .services_container .general .add_content.suggest .services-list {
  position: relative;
  padding-left: 15px;
}
@media screen and (max-width: 1000px) {
  main .wrapper .services_container .general .add_content.suggest .services-list {
    padding-left: 0;
  }
}
main .wrapper .services_container .general .add_content.suggest .services-list p {
  padding-top: 30px;
}
main .wrapper .services_container .general .add_content.suggest .services-list p::before {
  background-color: red;
  border-radius: 0;
  top: -webkit-calc(53%);
  top: calc(50% + 3px);
}
main .wrapper .services_container .general .image {
  margin: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
}
@media screen and (max-width: 950px) {
  main .wrapper .services_container .general .image {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 750px) {
  main .wrapper .services_container .general .image {
    display: none;
  }
}
.contact-services_wrapper {
  margin-top: 30px;
}
@media screen and (max-width: 750px) {
  .contact-services_wrapper {
    width: -webkit-calc(30%);
    width: calc(50% - 20px);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .contact-services_wrapper {
    width: -webkit-calc(40%);
    width: calc(50% - 10px);
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 550px) {
  .contact-services_wrapper {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
  }
}
section:not(.constacts_header) {
  background-image: url("../img/contacts-BG.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  border-top: 8px solid #e32f0c;
  border-bottom: 8px solid #e32f0c;
}
@media screen and (max-width: 700px) {
  section:not(.constacts_header) {
    background-image: unset;
    background-color: #423b3a;
  }
}
section:not(.constacts_header) .wrapper {
  padding: 50px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
@media screen and (max-width: 550px) {
  section:not(.constacts_header) .wrapper {
    padding: 50px 20px;
  }
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper {
    padding: 30px 20px;
  }
}
section:not(.constacts_header) .wrapper .contacts {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}
@media screen and (max-width: 1000px) {
  section:not(.constacts_header) .wrapper .contacts {
    width: 70%;
  }
}
@media screen and (max-width: 750px) {
  section:not(.constacts_header) .wrapper .contacts {
    width: 80%;
    padding: 10px;
  }
}
@media screen and (max-width: 550px) {
  section:not(.constacts_header) .wrapper .contacts {
    width: 100%;
    padding: 10px;
  }
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 70%;
    padding: 0 30px;
  }
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    width: 80%;
    padding: 0 20px;
  }
}
section:not(.constacts_header) .wrapper .contacts .tel-content {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 15px 0;
  border-right: 1px solid #e4e3e3;
}
@media screen and (max-width: 500px) {
  section:not(.constacts_header) .wrapper .contacts .tel-content {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper .contacts .tel-content {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid #e4e3e3;
    padding-bottom: -webkit-calc(7.5px);
    padding-bottom: calc(15px / 2);
  }
}
section:not(.constacts_header) .wrapper .contacts .email {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  align-items: flex-start;
  padding-top: 15px;
}
@media screen and (max-width: 500px) {
  section:not(.constacts_header) .wrapper .contacts .email {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper .contacts .email {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 15px;
    padding-top: -webkit-calc(7.5px);
    padding-top: calc(15px / 2);
  }
}
section:not(.constacts_header) .wrapper .contacts .tel-content,
section:not(.constacts_header) .wrapper .contacts .email p {
  font-family: "Bold";
  font-size: 1.125rem;
}
section:not(.constacts_header) .wrapper .contacts .tel-number p,
section:not(.constacts_header) .wrapper .contacts .email p + p {
  font-family: "Medium";
  font-size: 1.1875rem;
  color: #979797;
  padding-left: 30px;
}
@media screen and (max-width: 450px) {
  section:not(.constacts_header) .wrapper .contacts .tel-number p,
  section:not(.constacts_header) .wrapper .contacts .email p + p {
    padding-left: 10px;
  }
}
article .wrapper .allColective {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
article .wrapper .collective .teamlead {
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  box-shadow: 0 0 10px 2px #e7e7e7;
  position: relative;
}
article .wrapper .collective .teamlead-photo {
  max-width: 25%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
}
article .wrapper .collective .teamlead-photo img {
  max-width: 100%;
  height: 100%;
}
article .wrapper .collective .teamlead p {
  font-family: "Medium";
  font-size: 1.1875rem;
  color: #979797;
  padding-bottom: 20px;
}
article .wrapper .collective .teamlead .teamlead-history_block1 {
  padding: 20px;
  max-width: 35%;
  padding-right: 30px;
}
article .wrapper .collective .teamlead .teamlead-history_block1 > p {
  font-family: "Extra-Bold";
  font-size: 1.4375rem;
  color: #e32f0c;
}
article .wrapper .collective .teamlead .teamlead-history_block1 .history-list > p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 0;
  padding-left: 30px;
  position: relative;
}
article .wrapper .collective .teamlead .teamlead-history_block1 .history-list > p:nth-child(1) {
  padding-top: 0;
}
article .wrapper .collective .teamlead .teamlead-history_block1 .history-list > p::before {
  content: "";
  display: block;
  position: absolute;
  top: 53%;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #e32f0c;
  border-radius: 100%;
}
article .wrapper .collective .teamlead .teamlead-history_block2 {
  max-width: 35%;
  border-left: 1px solid #e4e3e3;
  padding: 0 20px 0 30px;
  margin: 20px 0;
}
article .wrapper .collective .teamlead .text > p:nth-child(1) {
  color: black;
  font-size: 1.125rem;
  font-family: "Bold";
  padding-bottom: 5px;
}
article .wrapper .collective .teamlead .text > p:nth-child(2) {
  padding-bottom: 30px;
}
@media screen and (max-width: 1280px) {
  article .wrapper .collective .teamlead .teamlead-photo {
    max-width: 50%;
  }
}
@media screen and (max-width: 1100px) {
  article .wrapper .collective .teamlead {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    border: none;
  }
  article .wrapper .collective .teamlead::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 2%;
    left: 2%;
    width: 257px;
    height: 195px;
    background-image: url("../img/agnes-logo2.png");
  }
  article .wrapper .collective .teamlead .teamlead-photo {
    max-width: 40%;
    border-bottom: 1px solid #e4e3e3;
    border-left: 1px solid #e4e3e3;
    border-top: 1px solid #e4e3e3;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
  }
  article .wrapper .collective .teamlead .teamlead-history_block1 {
    max-width: 60%;
    border-top: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
    border-top-right-radius: 11px;
  }
  article .wrapper .collective .teamlead .teamlead-history_block2 {
    max-width: 60%;
    margin: 0;
    margin-left: auto;
    border-bottom: 1px solid #e4e3e3;
    border-right: 1px solid #e4e3e3;
    border-top: 1px solid #e4e3e3;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
  }
}
@media screen and (max-width: 800px) {
  article .wrapper .collective .teamlead {
    border: 1px solid #e4e3e3;
    max-width: 80%;
    margin: 0 auto;
  }
  article .wrapper .collective .teamlead::after {
    display: none;
  }
  article .wrapper .collective .teamlead .teamlead-photo {
    max-width: 100%;
    height: 430px;
    border: none;
    border-bottom: 1px solid #e4e3e3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
    background-image: url('../img/agnes-logo2.png');
    background-repeat: repeat-x;
    background-size: 144px;
    background-position: 287px center;
    background-attachment: local;
  }
  article .wrapper .collective .teamlead .teamlead-photo img {
    display: block;
  }
  article .wrapper .collective .teamlead .teamlead-photo img:nth-of-type(1) {
    display: none;
  }
  article .wrapper .collective .teamlead .teamlead-history_block1 {
    max-width: 100%;
    border: none;
    border-bottom: 1px solid #e4e3e3;
  }
  article .wrapper .collective .teamlead .teamlead-history_block2 {
    max-width: 100%;
    margin: 0;
    border: none;
    padding-top: 20px;
  }
}
@media screen and (min-width: 801px) {
  article .wrapper .collective .teamlead .teamlead-photo img {
    display: block;
  }
  article .wrapper .collective .teamlead .teamlead-photo img:nth-of-type(2) {
    display: none;
  }
}
@media screen and (max-width: 550px) {
  article .wrapper .collective .teamlead {
    max-width: 100%;
  }
}
article .wrapper .collective .staff-container {
  padding-top: 30px;
}
article .wrapper .collective .staff-container .staff-wrapper {
  padding: 20px 0;
}
article .wrapper .collective .staff-container .staff-wrapper .staff {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  width: 80%;
  height: 350px;
  border: 1px solid #e4e3e3;
  border-radius: 11px;
  margin: 0 auto;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .image {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: local;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color: lightgray;
  background-image: url("../img/placeholder.png");
  background-position: center 18%;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .image.staff1 {
  background-image: url("../img/staff1.jpg");
  background-position: center 18%;
  background-size: 250px;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .image.staff2 {
  background-image: url("../img/staff2.jpg");
  background-position: center 18%;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .image.staff3 {
  background-image: url("../img/staff3.jpg");
  background-position: center 18%;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .image.staff4 {
  background-image: url("../img/staff4.jpg");
  background-position: center 18%;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text {
  padding-top: 15px;
  text-align: center;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text p {
  font-family: "Extra-Bold";
  font-size: 1.4375rem;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text p:nth-of-type(2) {
  font-family: "Bold";
  font-size: 1.125rem;
  padding: 10px 0;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text p:nth-of-type(2) span {
  font-size: 1.1875rem;
  font-family: "Medium";
  color: #979797;
  margin-left: 15px;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text.staff3 span {
  margin-left: 5px !important;
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text.commonPadding {
  padding-bottom: 0;
  padding-right: 0;
}
@media screen and (max-width: 500px) {
  article .wrapper .collective .staff-container .staff-wrapper .staff .text.commonPadding {
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 380px) {
  article .wrapper .collective .staff-container .staff-wrapper .staff .text.commonPadding {
    padding-bottom: 0 !important;
  }
}
article .wrapper .collective .staff-container .staff-wrapper .staff .text.commonPadding p:nth-of-type(2) {
  padding-top: 5px;
}
@media screen and (max-width: 500px) {
  article .wrapper .collective .staff-container .staff-wrapper .staff .text.commonPadding p:nth-of-type(2) {
    padding: 10px 0;
  }
}
.advantages {
  border: none;
}
.advantages .areas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.advantages .areas_wrapper {
  max-width: -webkit-calc(40%);
  max-width: calc(60% - 20px);
  border-radius: 11px;
  box-shadow: 0 0 10px 2px #e7e7e7;
}
.advantages .areas_wrapper .works_area {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 0 20px 20px 20px;
}
.advantages .areas_wrapper .works_area .work {
  -webkit-flex-basis: 151px;
  flex-basis: 151px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  margin-top: 20px;
}
.advantages .areas_wrapper .works_area .work p {
  text-align: center;
  font-family: "Semi-Bold";
  color: black;
  font-size: 1rem;
  padding-top: 10px;
}
@media screen and (max-width: 400px) {
  .advantages .areas_wrapper .works_area .work {
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
  }
}
.advantages .areas .weOffer {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  flex-grow: 1;
  margin-left: 20px;
}
.advantages .areas .weOffer_container {
  box-shadow: 0 0 10px 2px #e7e7e7;
  border-radius: 11px;
}
.advantages .areas .weOffer_container .weOffer_list {
  padding: 0 20px 20px 20px;
}
.advantages .areas .weOffer_container .weOffer_list p {
  position: relative;
  font-family: "Bold";
  font-size: 1.125rem;
  padding: 10px 10px 0 30px;
}
.advantages .areas .weOffer_container .weOffer_list p::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  bottom: -webkit-calc(41%);
  bottom: calc(50% - 9px);
  left: 0;
  position: absolute;
  background-color: #e32f0c;
}
.advantages .areas .weOffer .weOffer_contact {
  margin-top: 20px;
  max-width: 70%;
  box-shadow: 0 0 10px 2px #e7e7e7;
  padding: 20px;
  border-radius: 11px;
}
.advantages .areas .weOffer .weOffer_contact .notFound p {
  font-family: "Extra-Bold";
  font-size: 1.4375rem;
  color: #e32f0c;
}
.advantages .areas .weOffer .weOffer_contact .notFound p:nth-child(2) {
  font-family: "Semi-Bold";
  font-size: 1rem;
  color: #9f9e9e;
  padding-top: 10px;
}
.advantages .areas .weOffer .weOffer_contact .weOffer_contaier {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.advantages .areas .weOffer .weOffer_contact .weOffer_contaier .connection p,
.advantages .areas .weOffer .weOffer_contact .weOffer_contaier .email p {
  font-family: "Medium";
  font-size: 1rem;
}
.advantages .areas .weOffer .weOffer_contact .weOffer_contaier .connection p:nth-child(1),
.advantages .areas .weOffer .weOffer_contact .weOffer_contaier .email p:nth-child(1) {
  font-family: "Bold";
  font-size: 1.125rem;
  padding-top: 20px;
  padding-bottom: 5px;
}
@media screen and (max-width: 950px) {
  .advantages .areas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
  }
  .advantages .areas .areas_wrapper {
    max-width: 100%;
  }
  .advantages .areas .weOffer {
    margin-top: 20px;
    margin-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
  }
  .advantages .areas .weOffer_container {
    max-width: 60%;
  }
  .advantages .areas .weOffer .weOffer_contact {
    -webkit-align-self: flex-start;
    align-self: flex-start;
    width: -webkit-calc(20%);
    width: calc(40% - 20px);
    margin-top: 0;
    margin-left: 20px;
  }
}
@media screen and (max-width: 700px) {
  .advantages .areas .weOffer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-direction: column;
    position: relative;
  }
  .advantages .areas .weOffer_container {
    max-width: 100%;
  }
  .advantages .areas .weOffer .weOffer_contact {
    margin-top: 20px;
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .advantages .areas .weOffer_contact {
    max-width: 100% !important;
  }
}
.title {
  border-bottom: 1px solid #e4e3e3;
}
.title p {
  padding: 20px;
  font-size: 1.875rem;
  font-family: "Black";
}
.myWrapper {
  max-width: 1350px;
  margin: 0 auto;
}
.block-title {
  padding-top: 120px;
  color: #4f5256;
  font-size: 2.5em;
  font-family: "black";
  margin-bottom: 15px;
  line-height: 30px;
}
@media screen and (max-width: 700px) {
  .block-title {
    padding-top: 60px;
  }
}
.block-sub-title {
  color: #9f9d9d;
  font-family: "Medium";
  font-size: 1.625em;
  margin-bottom: 30px;
  line-height: 23px;
}
.partners-frame {
  background: url("../img/partnersBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-top: 10px solid #f22634;
  border-bottom: 10px solid #f22634;
  padding: 10px 0;
}
@media screen and (max-width: 669px) {
  .partners-frame {
    background: #5d5051;
  }
}
.partners-icon-frame {
  padding: 75px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-around;
  -moz-box-pack: justify;
  justify-content: space-around;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (max-width: 940px) {
  .partners-icon-frame {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 669px) {
  .partners-icon-frame {
    padding: 35px 0;
  }
}
.partners-icon-frame .partners-img-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
  min-width: 180px;
  width: 180px;
  height: 120px;
}
@media screen and (max-width: 940px) {
  .partners-icon-frame .partners-img-box {
    margin: 22.5px 15px 22.5px 15px;
  }
}
.partners-icon-frame .partners-img-box img {
  height: 150px;
}
.partners-icon-frame .partners-img-box:nth-child(1) img {
  height: 125px;
}
.carousel-frame {
  position: relative;
  padding: 0 40px;
}
@media screen and (max-width: 458px) {
  .carousel-frame {
    padding: 0;
  }
}
.carousel-button-box {
  position: absolute;
  left: 0;
  right: 0;
  top: -webkit-calc(28%);
  top: calc(50% - 22px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
@media screen and (max-width: 458px) {
  .carousel-button-box {
    display: none;
  }
}
.sliderButton {
  position: relative;
  display: inline-block;
  margin: 10px 0;
  height: 44px;
  width: 40px;
}
.sliderButton img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: absolute;
}
.left-inactive {
  z-index: 2;
  pointer-events: none;
}
.left-active {
  pointer-events: none;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.right-active {
  z-index: 2;
  cursor: pointer;
}
.right-inactive {
  z-index: 1;
  pointer-events: none;
}
.feedback-card {
  padding: 30px;
  border-radius: 8px;
  border: solid 1px #e4e3e3;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.042);
}
.feedback-card .feedback-card-title {
  font-size: 1.875rem;
  font-family: "Black";
  color: #2d2f30;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #f22634;
}
.feedback-card .feedback-card-text {
  font-size: 1.0625rem;
  font-family: "light";
  color: #979797;
}
.slick-track {
  padding-bottom: 30px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}
.slick-slide {
  height: inherit !important;
}
.slick-dots li button:before {
  font-size: 27px;
}
.slick-slide {
  margin-left: 25px;
  margin-right: 25px;
}
@media screen and (max-width: 458px) {
  .slick-slide {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 458px) {
  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.block-margin-bottom {
  margin-bottom: 120px;
}
@media (max-width: 940px) {
  .block-margin-bottom {
    margin-bottom: 70px;
  }
}
@media (max-width: 640px) {
  .block-margin-bottom {
    margin-bottom: 40px;
  }
}
